```
Exercise 1 : Print the second item in the fruits list.
```

In [1]:
fruits = ["apple", "orange", "cherry"]
print(fruits[1])

orange

```
Exercise 2 : Change the value from "apple" to "banana", in the fruits list.
```

In [2]:
fruits = ["apple", "orange", "cherry"]
fruits[0] = "banana"
print(fruits)

['banana', 'orange', 'cherry']

```
Exercise 3 : Use the append method to add "orange" to the fruits list.
```

In [5]:
fruits = ["apple", "orange", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'orange', 'cherry', 'orange']

```
Exercise 4 : Use the insert method to add "lemon" as the second item in the fruits list.
```

In [4]:
fruits = ["apple", "orange", "cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'orange', 'cherry']

```
Exercise 5 : Use the remove method to remove "orange" from the fruits list.
```

In [6]:
fruits = ["apple", "orange", "cherry"]
fruits.remove("orange")
print(fruits)

['apple', 'cherry']

```
Exercise 6 : Use negative indexing to print the last item in the list.
```

In [7]:
fruits = ["apple", "orange", "cherry"]
print(fruits[-1])

cherry

```
Exercise 7 : Use a range of indexes to print the third, fourth, and fifth item in the list.
```

In [9]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:7])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

```
Exercise 8 : Use the correct syntax to print the number of items in the list.
```

In [10]:
fruits = ["apple", "orange", "cherry"]
print(len(fruits))

3

```
Example 2: remove() method on a list having duplicate elements
```

In [12]:
# animals list
animals = ['lion', 'tiger', 'tiger', 'guinea pig', 'tiger']

# 'dog' is removed
animals.remove('tiger')


# Updated animals list
print('Updated animals list: ', animals)

Updated animals list:  ['lion', 'tiger', 'guinea pig', 'tiger']

```
Example 3: Deleting element that doesn't exist
```

In [13]:
# animals list
animals = ['cat', 'tiger', 'dog', 'guinea tiger']

# Deleting 'fish' element
animals.remove('fish')


# Updated animals List
print('Updated animals list: ', animals)

ValueError: ignored