```
1019 4110E208

For Loops

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

Print each fruit in a fruit list:
```

In [1]:
fruits = ["pineapple", "orange", "mango"]
for x in fruits:
  print(x)

pineapple
orange
mango

```
The for loop does not require an indexing variable to set beforehand.

Looping Through a String

Even strings are iterable objects, they contain a sequence of characters:
```

In [2]:
for x in "orange":
  print(x)

o
r
a
n
g
e

```
The break Statement

With the break statement we can stop the loop before it has looped through all the items:
```

In [5]:
fruits = ["pineapple", "orange", "mango"]
for x in fruits:
  print(x)
  if x == "orange":
    break

pineapple
orange

```
Exit the loop when x is "banana", but this time the break comes before the print:
```

In [6]:
fruits = ["pineapple", "orange", "mango"]
for x in fruits:
  if x == "orange":
    break
  print(x)

pineapple

```
With the continue statement we can stop the current iteration of the loop, and continue with the next:
```

In [7]:
fruits = ["pineapple", "orange", "mango"]
for x in fruits:
  if x == "orange":
    continue
  print(x)

pineapple
mango

```
The range() Function

To loop through a set of code a specified number of times, we can use the range() function,

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.
```

In [10]:
for x in range(5):
  print(x)
# Note that range(5) is not the values of 0 to 5, but the values 0 to 4.

0
1
2
3
4

```
The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(1, 5), which means values from 1 to 10 (but not including 5):
```

In [11]:
for x in range(1, 5):
  print(x)

1
2
3
4

```
The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(1, 5, 2):
```

In [12]:
for x in range(1, 5, 2):
  print(x)

1
3

```
Else in For Loop

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:
```

In [13]:
for x in range(5):
  print(x)
else:
  print("Done!")

0
1
2
3
4
Done!

```
Note: The else block will NOT be executed if the loop is stopped by a break statement.
```

In [14]:
for x in range(5):
  if x == 3: break
  print(x)
else:
  print("Done!")

0
1
2

```
Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":
```

In [15]:
adj = ["medium", "Favorite", "sweet"]
fruits = ["pineapple", "orange", "mango"]

for x in adj:
  for y in fruits:
    print(x, y)

medium pineapple
medium orange
medium mango
Favorite pineapple
Favorite orange
Favorite mango
sweet pineapple
sweet orange
sweet mango

```
The pass Statement

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

```

In [16]:
for x in ["yellow", "violet", "pink"]:
  pass